[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "libraries/Adafruit_CC3000_Library"]
	path = libraries/Adafruit_CC3000_Library
	url = https://github.com/adafruit/Adafruit_CC3000_Library.git
